.transactionHistory {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
  font-size: 18px;
}

table {
  width: 480px;
}

th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #04aa6d;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
